<div class="container">
   <div class="row">
         <div class="col-lg-3 col-12">
            <div id="logo">
               <a href="{{ .Site.BaseURL }}" title="santekno.com">
                     <img src="/images/logo-santekno.png" class="logo_normal" width="135">
               </a>
            </div>
         </div>
         <div class="col-lg-9 col-12">
            <a href="#menu" class="btn_mobile">
               <div class="hamburger hamburger--spin" id="hamburger">
                     <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                     </div>
               </div>
            </a>
            <nav id="menu" class="main-menu menu-title" >
               <ul>
                  <li><span><a href="#" title="#">Golang</a></span></li>
                  <li><span><a href="#" title="#">PHP</a></span></li>
                  <li><span><a href="#0">Java</a></span>
                     <ul>
                        <li><a href="checkout.html">Apache Camel</a></li>
                        <li><a href="confirm.html">Spring Boot</a></li>
                        <li><a href="confirm.html">RedHat JBoss Fuse</a></li>
                        <li><a href="confirm.html">RedHat JBoss EAP</a></li>
                     </ul>
                  </li>
                  <li><span><a href="#" title="C++">C++</a></span></li>
               </ul>
            </nav>
         </div>
   </div>
</div>