<div class="container">
   <div class="row">
         <div class="col-lg-3 col-12">
            <div id="logo">
               <a href="{{ .Site.BaseURL }}" title="santekno.com">
                     <img src="#" class="logo_normal">
                     <img src="#" class="logo_sticky">
               </a>
            </div>
         </div>
         <div class="col-lg-9 col-12">
            <a href="#menu" class="btn_mobile">
               <div class="hamburger hamburger--spin" id="hamburger">
                     <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                     </div>
               </div>
            </a>
            <nav id="menu" class="main-menu">
               <ul>
                  <li><span><a href="#" title="#">About</a></span></li>
               </ul>
            </nav>
         </div>
   </div>
</div>